@import "../index.sass"
@import "./timer.sass"
.form 
    position: fixed 
    top: 20px 
    right: 20px
    width: 280px
    display: flex 
    justify-content: center
    align-items: center
    align-content: center 
    flex-wrap: wrap 
    input 
        +buttons()
        width: 25%
        cursor: auto
        margin: 0
        margin: 0 5px
    label 
        width: 20%
        text-align: center
        border: 1px solid #ffffff
        padding: 3px 8px
        border-radius: 8px
    label:nth-of-type(1)
        margin-left: 5px
    button 
        width: 47%
        +buttons()
        margin: 0
        margin-top: 10px
    button:nth-of-type(2)
        margin-left: 5px
.counter 
    position: fixed 
    top: 300px 
    left: 50% 
    transform: translateX(-50%)
    color: red 
    font-size: 60px
    @media (max-width: 420px)
        top: auto 
        bottom: 100px
    @keyframes blink 
        100% 
            opacity: 0
.alert
    position: fixed 
    width: 400px 
    height: 200px 
    left: 50%
    top: 200px 
    padding: 10px
    z-index: 10 
    border: 4px solid #fff 
    border-radius: 8px 
    background-color: $dark 
    transition: .3s linear
    transform: translate(-50%, -100%)
    animation: slideDown .5s linear forwards
    display: flex 
    justify-content: center 
    align-items: center 
    flex-wrap: wrap
    @keyframes slideDown 
        100% 
            transform: translateX(-50%)
    h1, p 
        width: 100%
        text-align: center
    button 
        +buttons()