@import "../index.sass"
=buttons()
    padding: 6px 10px
    transition: .3s linear
    text-transform: uppercase 
    letter-spacing: 1px
    font-weight: bold
    font-size: 16px
    background-color: #fff
    border: 2px solid $dark
    border-radius: 8px
    cursor: pointer
    &:hover 
        background-color: $dark
        color: #fff 
        border: 2px solid #fff
.container  
    width: 100vw 
    height: 100vh 
    display: flex 
    justify-content: center 
    align-items: center
    flex-wrap: wrap
    align-content: center
    overflow: hidden
    font-size: 30px
    font-weight: bold
    .timer
        width: 100%
        display: flex 
        justify-content: center 
        align-items: center
        margin-bottom: 10px
        @media (max-width: 900px) 
            margin-top: 50px
        h1 
            width: 80px
            font-size: 60px
            display: flex 
            justify-content: center 
            align-items: center
    button 
        +buttons()
        margin: 0 5px
    .reset 
        color: red
        

